/*CSS DOCUMENT*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap");


img {
    width: 100%; 
}

nav ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
    margin-right: 1em;
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 1.5em;
}
body {
    width: auto;
    max-width: 40em;
}

ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}

h1, h2, h3 h4, h5 {
    font-family: "Work Sans";
    font-weight: 600;
}

h6 {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 1.5em;
}

p {
    font-family: "Work Sans";
    font-weight: 300;
}
