/*CSS DOCUMENT*/

img {
    width: 100%; 
}

header.ul {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}
body {
    width: auto;
    max-width: 40em;
}

ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
}
