/*CSS document*/
@import url("https://use.typekit.net/bqi0ysh.css");

body {
     font-family: puffin-display-soft, sans-serif;
     font-style: normal;
     font-weight: 500;
     color: #4A3207;
     background-color: #F8F5E6;
    }

h1 {
    font-family: teeshirt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: #4A3207;
}

h2 {
    font-family: teeshirt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    color: #4A3207;
}

h3{
    font-family: teeshirt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    color: #4A3207;
}

a:link {
    color: #8ABE50;
    text-decoration: none;
}

a:visited {
    color: #E77117;
    text-decoration: none;
}
a:hover {
    color: #FDAC46;
}


div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0 0 3em 0;
}

li {
    font-family: puffin-display-soft, sans-serif;
    font-style: normal;
    font-weight: 700;  
    float: left;
    padding-right: 1em;
}

figcaption {
    font-family: puffin-display-soft, sans-serif;
     font-style: italic;
     font-weight: 300;
     color: #4A3207;
     font-size: 0.75em;
}

.mainstory {
    font-size: 1.1em;
}

.imagestory {
    margin-top: 5em;
    font-style: italic;
}

.blankstory {
    margin-top: 5em;
    font-style: italic;
}